---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <p style="color: #999; font-size: 0.9rem;">{{ page.date | date: "%B %d, %Y" }}</p>
  
  {{ content }}
</article>

<script>
  document.querySelectorAll('a.footnote').forEach(function(link) {
    var sup = link.parentNode;
    var num = link.textContent;
    var id = link.getAttribute('href').replace('#', '');
    var fn = document.getElementById(id);
    if (!fn) return;
    var clone = fn.cloneNode(true);
    var backref = clone.querySelector('a[href^="#fnref"]');
    if (backref) backref.remove();
    var sidenote = document.createElement('span');
    sidenote.className = 'sidenote';
    var text = clone.innerHTML.trim().replace(/^<p>|<\/p>$/g, '');
    sidenote.innerHTML = '<sup>' + num + '</sup> ' + text;
    sup.parentNode.insertBefore(sidenote, sup.nextSibling);
  });
</script>
